<h1>新規ユーザーの登録</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :email %>
  <%= f.email_field :email %>
  
  <%= f.submit "新規登録"%>
  
  <% if alert %>
  <p><%= alert %></p>
<% end %>
  <% end %>